In [18]:
import pandas as pd
import numpy as np

In [24]:
pd.set_option('display.max_rows', 100)

In [57]:
types_dict_train = {'train_id':'int64', 'item_condition_id':'int8', 'price':'float64', 'shipping':'int8'}
types_dict_test = {'test_id':'int64', 'item_condition_id':'int8', 'shipping':'int8'}
 
# tsvファイルからPandas DataFrameへ読み込み
train_df = pd.read_csv('train.tsv', delimiter='\t', low_memory=True, dtype=types_dict_train)
test_df = pd.read_csv('test_stg2.tsv', delimiter='\t', low_memory=True, dtype=types_dict_test)

In [28]:
pd.get_option("display.max_rows")

100

In [29]:
train_df[:100]

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity
5,5,Bundled items requested for Ruie,3,Women/Other/Other,NaN,59.0,0,"Banana republic bottoms, Candies skirt with ma..."
6,6,Acacia pacific tides santorini top,3,Women/Swimwear/Two-Piece,Acacia Swimwear,64.0,0,Size small but straps slightly shortened to fi...
7,7,Girls cheer and tumbling bundle of 7,3,Sports & Outdoors/Apparel/Girls,Soffe,6.0,1,You get three pairs of Sophie cheer shorts siz...
8,8,Girls Nike Pro shorts,3,Sports & Outdoors/Apparel/Girls,Nike,19.0,0,Girls Size small Plus green. Three shorts total.
9,9,Porcelain clown doll checker pants VTG,3,Vintage & Collectibles/Collectibles/Doll,NaN,8.0,0,I realized his pants are on backwards after th...
10,10,Smashbox primer,2,Beauty/Makeup/Face,Smashbox,8.0,1,0.25 oz Full size is 1oz for [rm] in Sephora
11,11,New vs pi k body mists,1,Beauty/Fragrance/Women,Victoria's Secret,34.0,0,(5) new vs pink body mists (2.5 oz each) Fresh...
12,12,Black Skater dress,2,"Women/Dresses/Above Knee, Mini",rue,16.0,0,"Xl, great condition"
13,13,Sharpener and eraser,1,Other/Office supplies/School Supplies,Scholastic,4.0,1,No description yet
14,14,HOLD for Dogs2016 Minnetonka boots,3,Women/Shoes/Boots,UGG Australia,43.0,0,Authentic. Suede fringe boots. Great condition...
15,15,Sephora tarte birthday gift,1,Beauty/Makeup/Makeup Sets,Tarte,11.0,1,Brand new. Deluxe travel size products. Contai...
16,16,Glitter Eyeshadow,1,Beauty/Makeup/Eyes,Wet n Wild,6.0,1,2 glitter eyeshadows; one in Brass and one in ...
17,17,New: Baby K'tan active baby carrier,1,Kids/Gear/Backpacks & Carriers,NaN,29.0,1,Brand new in box Size: Medium Color: Coral Ret...
18,18,"Too Faced Limited ""Merry Macaroons""",1,Beauty/Makeup/Makeup Palettes,Too Faced,25.0,1,This AUTHENTIC pallete by Too Faced is brand n...
19,19,Cream/ Beige Front Cross Shirt,2,Women/Tops & Blouses/Blouse,Anthropologie,27.0,0,"Fancy, dressy or casual! Dress it up or down 1..."
20,20,Torrid Nautical Peplum Tube Top,3,"Women/Tops & Blouses/Tank, Cami",Torrid,13.0,1,Size 1. Worn once. Excellent condition
21,21,NWT VS ULTIMATE SPORTS BRA 34ddd,1,Women/Athletic Apparel/Sports Bras,Victoria's Secret,20.0,0,NWT Victoria's Secret ULTIMATE SPORT BRA -MAXI...
22,22,Galaxy S7 Edge (Unlocked) 32GB,3,Electronics/Cell Phones & Accessories/Cell Pho...,Samsung,386.0,0,"Reasonable offers welcomed. But if you ask ""lo..."
23,23,Triple car charger,1,Electronics/Cell Phones & Accessories/Chargers...,NaN,8.0,1,Brand new never used All colors are available ...
24,24,Black and Red Baseball Tee,2,Women/Tops & Blouses/T-Shirts,FOREVER 21,10.0,0,lanascloset ~~~ description: never worn! ✨ i d...
25,25,Air Jordan carmine 6s,3,Men/Shoes/Athletic,Air Jordan,66.0,0,They are 100 percent authentic. They are beate...
26,26,Otterbox Defender iPhone 6 Plus/6s Plus,1,"Electronics/Cell Phones & Accessories/Cases, C...",Apple,13.0,1,Brand new Otterbox Defender iPhone 6 Plus/6s Plus
27,27,LuLaRoe OS Black With White Polka Dots,3,"Women/Athletic Apparel/Pants, Tights, Leggings",LuLaRoe,24.0,0,Worn one time. Excellent condition
28,28,Forever21 floral romper strapless,2,Women/Swimwear/One-Piece,FOREVER 21,5.0,1,Beautiful Excellent condition Zips and ties in...
29,29,Kendra bundle,3,Women/Jeans/Boot Cut,Hollister,16.0,1,29w. X 33l. Social stretch hollister jeans ***...
30,30,Too Faced Better Than Sex Mascara QTY3,1,Beauty/Makeup/Eyes,Too Faced,32.0,1,BNIB 3 for [rm] Better Than Sex Waterproof Mas...
31,31,"New Lularoe OS leggings, stars",1,"Women/Athletic Apparel/Pants, Tights, Leggings",NaN,50.0,1,No description yet
32,32,Pink bra 36d,1,Women/Underwear/Bras,PINK,22.0,0,Pink bra with logo band! 36d push up
33,33,Caudalíe Beauty Elixir Spray,1,Beauty/Skin Care/Face,Sephora,10.0,1,New unused and authentic. Caudalie beauty elix...
34,34,Four puppy dog stuffed animal ty,3,Kids/Toys/Stuffed Animals & Plush,NaN,5.0,1,2 beanie babies pugsley wrinkles Puppy with pu...
35,35,Black Capri Leggings w/ Flowers One size,1,"Women/Athletic Apparel/Pants, Tights, Leggings",NaN,13.0,1,One size fits sizes 2-12 92% polyester 8% span...
36,36,Black bag 30,3,Women/Women's Handbags/Totes & Shoppers,NaN,209.0,0,Pre-owned. Some light scratches on hardware co...
37,37,Under Armour maroon and gray shirt metal,4,Men/Athletic Apparel/Shirts & Tops,Under Armour,6.0,1,"Has some wear to the back, and few white spots..."
38,38,XBOX One,3,Electronics/Video Games & Consoles/Consoles,Xbox,226.0,0,500GB Comes with power cord One controller wit...
39,39,Victoria secret 34 c corest top,3,Women/Underwear/Bras,Victoria's Secret,10.0,0,Victoria secret 34 c corest top Will bundle to...
40,40,Kylie Birthday Edition,1,Beauty/Makeup/Makeup Sets,Kylie Cosmetics,20.0,1,Kylie Happy Birthday Matte Mini Lipstick Kylie...
41,41,tropical flower print bra from pink,3,Women/Underwear/Bras,PINK,13.0,1,Used buh looks brand new and is washed and rea...
42,42,lots of Korean Nature Republic face mask,1,Beauty/Skin Care/Face,NaN,14.0,1,"totally 36 masks, will be expired on Feb.."
43,43,Apricot beige stick foundation!!,1,Beauty/Makeup/Face,NaN,12.0,1,Great quality!!! Fast free shipping!! You can ...
44,44,Glass Christmas Bowl✨,2,Vintage & Collectibles/Collectibles/Glass,NaN,12.0,1,Brand new! Never used smoking bowl. Just bough...
45,45,Woman's north face puffer vest,3,Women/Coats & Jackets/Vest,The North Face,51.0,0,"Black outside medium gray inside. Authentic, s..."
46,46,Metallic purple slime with sparkles,1,Kids/Toys/Arts & Crafts,NaN,8.0,0,"This slime is approximately 1.5 ounces, very s..."
47,47,Brandy Melville Off Shoulder Crop Top,2,Women/Tops & Blouses/Blouse,Brandy Melville,21.0,0,Brandy Melville Off Shoulder Crop Top. One Siz...
48,48,Lululemon wunder under crop,3,"Women/Pants/Capris, Cropped",lululemon athletica,54.0,0,"Perfect condition! Super comfy, let me know if..."
49,49,Younique 3d fiber lash mascara,1,Beauty/Makeup/Eyes,NaN,9.0,1,Younique 3d fiber lash mascara will quickly be...
50,50,Michael Kors CrossBody,2,Women/Women's Handbags/Messenger & Crossbody,Michael Kors,114.0,0,Sz Large Color Black Like New 100% Authentic
51,51,Led kids shoes size 3 and size 9,1,Kids/Girls (4+)/Shoes,NaN,36.0,0,"Led shoes for kids, seven colors in one shoes,..."
52,52,Hot Wheels-Super Tuners Car Set,1,Vintage & Collectibles/Antique/Collectibles,NaN,28.0,0,"Bundle for ""Carl's Collectibles"". Year: 2000 M..."
53,53,PINK by Victoria's Secret lace bandeau,2,Women/Underwear/Bras,PINK,7.0,0,Victoria's Secret PINK white/cream colored lac...
54,54,"Rae Dunn ""HUGS"" Mug",1,Home/Kitchen & Dining/Coffee & Tea Accessories,Rae Dunn,21.0,0,"New 2017 Rae Dunn Holiday ""HUGS"" mug. Another ..."
55,55,Vintage wood jewelry lot,3,Vintage & Collectibles/Jewelry/Brooch,NaN,5.0,1,"All are made out of wood. Necklace, earrings b..."
56,56,New Josie Maran Divine Drip,1,Beauty/Skin Care/Face,Sephora,14.0,0,New Pure Honey 5oz
57,57,Infantino Baby Carrier,3,Kids/Gear/Backpacks & Carriers,Infantino,7.0,1,Great condition! No stains or tears super easy...
58,58,New yokai watch backpack,1,Kids/Gear/Backpacks & Carriers,NaN,10.0,0,New
59,59,HV-900 sports Bluetooth headset,1,Electronics/Cell Phones & Accessories/Headsets,NaN,12.0,1,New HV-900 sports sweatproof wireless Bluetoot...
60,60,1/4 ct Diamond Engagement Ring!,3,Women/Jewelry/Rings,NaN,119.0,0,This is a very beautiful diamond engagement ri...
61,61,NWT Lularoe OS French bulldog leggings,1,"Women/Athletic Apparel/Pants, Tights, Leggings",NaN,50.0,1,Brand new with tag and bag. French bulldog leg...
62,62,High waist Levi jeans,2,Women/Athletic Apparel/Shorts,Levi's®,12.0,1,"Distressed Levi high waist jeans. Size XS, 12 ..."
63,63,Highwaist Distressed Denim Shorts,2,Women/Athletic Apparel/Shorts,Hollister,12.0,1,Highwaist distressed denim shorts size 3 The s...
64,64,Patagonia Fleece Jacket,3,Men/Coats & Jackets/Fleece Jacket,patagonia,36.0,0,Men's XXL In Good Condition Minor mark on Sleeve
65,65,New Holiday BARBIE,1,Kids/Toys/Dolls & Accessories,Barbie,13.0,0,Brand New
66,66,Silver choker Italy 925,3,Women/Jewelry/Necklaces,NaN,15.0,1,"Signed Italy and 925 Necklace Vintage, lobster..."
67,67,H&M Women's Long Horse Sweater,2,Women/Sweaters/Crewneck,H&M,16.0,0,"-size XS (fits long), or S (fits medium length..."
68,68,(M) Under Armour half zip jacket!,2,Women/Athletic Apparel/Jackets,Under Armour,45.0,0,Under Armour half zip jacket in awesome like n...
69,69,Iphone 6/6s marble design case,1,"Electronics/Cell Phones & Accessories/Cases, C...",NaN,5.0,1,❕PLEASE CHECK SIZE BEFORE ORDERING❕ ❕❕❕IF YOU ...
70,70,Adidas Ultraboost Shoes,3,Women/Shoes/Athletic,Adidas,61.0,0,Overall good condition. A few signs of wear
71,71,Partners In Crime Necklace ShipfromChina,1,Women/Jewelry/Necklaces,NaN,4.0,1,"""Fine or Fashion: Fashion Item Type: Necklace ..."
72,72,Listing for Aknuckles1,1,Home/Home Décor/Home Fragrance,Nostalgia Electrics,35.0,0,WARMERS PICTURED & 6 SAMPLE PACKAGES OF HIGHLY...
73,73,Toddler Vineyard Vines Hat,3,Kids/Boys 0-24 Mos/Accessories,NaN,14.0,0,Probably best for up to a 2 year old.
74,74,Rae Dunn Beauty and the Beast,1,Home/Kitchen & Dining/Coffee & Tea Accessories,Rae Dunn,26.0,0,Brand new! No cracks or chips! I package every...
75,75,Littlest pet shop accessories for Bon,3,Kids/Toys/Dolls & Accessories,Littlest Pet Shop,12.0,1,these are on hold do not buy :)
76,76,Black & Burgundy Bikini Bottoms,1,Women/Swimwear/Two-Piece,NaN,17.0,0,Both are a Chinese size medium which fits a US...
77,77,Aura Fluorite Double Terminated Wand,1,Home/Home Décor/Other,NaN,19.0,1,"Aura Fluorite: ⋅ The ""protection stone"" ⋅ Grou..."
78,78,Trump Shirt,3,Men/Tops/T-shirts,NaN,9.0,0,Worn once; will be washed before sent
79,79,Sea wees size 0,3,Kids/Girls 0-24 Mos/Shoes,Sea Wees,14.0,0,Great condition sea wees size 0 brown
80,80,Maternity top bundle,3,Women/Maternity/Tops & Blouses,Motherhood Maternity,16.0,0,Sheer black flowy top with cute flower design....
81,81,*Hold*FREE TODAY-IT COSMETICS CC HOLD,1,Beauty/Makeup/Face,Sephora,14.0,1,New without original Packaging. SHADE IS MEDIU...
82,82,Mascara Bundle,2,Beauty/Makeup/Eyes,NaN,9.0,1,5 Mascaras Loreal Covergirl Rimmel Maybelline
83,83,Eyebrows Essential Kit MEDIUM; Brown,1,Beauty/Makeup/Eyes,NaN,6.0,1,Eyebrows Essential Kit Everything you need t...
84,84,Women's Espresso Pink Coral shirt XL,3,Women/Tops & Blouses/T-Shirts,NaN,10.0,0,Extra large shirt with purple beaded flower de...
85,85,VS PINK sheet Set,3,Home/Bedding/Sheets & Pillowcases,NaN,18.0,0,Hot pink/reddish sheet set from Victoria's Sec...
86,86,Jillian Michaels bodyshred Fitness DVD,1,Sports & Outdoors/Exercise/Fitness technology,NaN,39.0,0,This boxed set of 12 DVD’s includes the Fitnes...
87,87,Melissa and Doug folding go kitchen,3,Kids/Toys/Dress Up & Pretend Play,Melissa & Doug,34.0,0,Used but still a great play item.
88,88,Misty tentacruel foil pokemon card,3,Vintage & Collectibles/Trading Cards/Animation,Pokemon,3.0,1,I have 2 available
89,89,Nike boy sneakers,3,Kids/Boys (4+)/Shoes,Nike,28.0,0,Size 6Y. High tops. Super light. In good condi...
90,90,Jewel holder,2,Home/Storage & Organization/Jewelry Boxes & Or...,Target,7.0,1,No description yet
91,91,Goosebumps HorrorLand DS Game,3,Electronics/Video Games & Consoles/Games,Nintendo,10.0,0,Good used condition. Ask about bundling to save.
92,92,Silver jeans size 11,3,Women/Jeans/Boot Cut,Silver Jeans Co.,16.0,0,Distressed with holes. Great shape well taken ...
93,93,Crimson Tide Alabama T-shirt,3,Sports & Outdoors/Fan Shop/NCAA,NaN,10.0,0,"Size M (8), cuffs show wear and letters are no..."
94,94,Hatchimals Draggle,1,Kids/Toys/Electronics for Kids,Spin Master,150.0,1,BNIP VHTF! HOTTEST toy of the season!
95,95,Gap canvas shoes {size 8},3,Kids/Girls 2T-5T/Shoes,Gap,9.0,1,"BabyGap canvas army green Gently loved, lots o..."
96,96,Luminess Air Airbrush Makeup System,1,Beauty/Makeup/Face,NaN,81.0,1,"Bought off Groupon and they charged me for 2, ..."
97,97,iPhone 5S Mickey ear case,2,"Electronics/Cell Phones & Accessories/Cases, C...",NaN,9.0,1,Bling Mickey ear case!! Just used one for a Di...
98,98,Gucci,3,Men/Men's Accessories/Watches,NaN,49.0,0,Rose gold bezel and crown Engraved logo Red an...
99,99,Size 6 Watercolor Inspire Crop,3,"Women/Athletic Apparel/Pants, Tights, Leggings",Lululemon,44.0,0,Watercolor Inspire crop. No pilling or stickin...

In [5]:
test_df.shape

(3460725, 7)

In [6]:
test_df.head()

,test_id,name,item_condition_id,category_name,brand_name,shipping,item_description
0,0,"Breast cancer ""I fight like a girl"" ring",1,Women/Jewelry/Rings,NaN,1,Size 7
1,1,"25 pcs NEW 7.5""x12"" Kraft Bubble Mailers",1,Other/Office supplies/Shipping Supplies,NaN,1,"25 pcs NEW 7.5""x12"" Kraft Bubble Mailers Lined..."
2,2,Coach bag,1,Vintage & Collectibles/Bags and Purses/Handbag,Coach,1,Brand new coach bag. Bought for [rm] at a Coac...
3,3,Floral Kimono,2,Women/Sweaters/Cardigan,NaN,0,-floral kimono -never worn -lightweight and pe...
4,4,Life after Death,3,Other/Books/Religion & Spirituality,NaN,1,Rediscovering life after the loss of a loved o...

In [7]:
train_df.dtypes

train_id               int64
name                  object
item_condition_id       int8
category_name         object
brand_name            object
price                float64
shipping                int8
item_description      object
dtype: object

In [8]:
train_df.describe()

           train_id  item_condition_id         price      shipping
count  1.482535e+06       1.482535e+06  1.482535e+06  1.482535e+06
mean   7.412670e+05       1.907380e+00  2.673752e+01  4.472744e-01
std    4.279711e+05       9.031586e-01  3.858607e+01  4.972124e-01
min    0.000000e+00       1.000000e+00  0.000000e+00  0.000000e+00
25%    3.706335e+05       1.000000e+00  1.000000e+01  0.000000e+00
50%    7.412670e+05       2.000000e+00  1.700000e+01  0.000000e+00
75%    1.111900e+06       3.000000e+00  2.900000e+01  1.000000e+00
max    1.482534e+06       5.000000e+00  2.009000e+03  1.000000e+00

In [9]:
train_df["item_condition_id"].value_counts()

1    640549
3    432161
2    375479
4     31962
5      2384
Name: item_condition_id, dtype: int64

In [10]:
train_df["brand_name"].value_counts()

PINK                    54088
Nike                    54043
Victoria's Secret       48036
LuLaRoe                 31024
Apple                   17322
                        ...
Bacco Bucci                 1
Buxton Leather Goods        1
RED Valentino               1
Able provider               1
Emile et Rose               1
Name: brand_name, Length: 4809, dtype: int64

In [11]:
train_df["category_name"].value_counts()

Women/Athletic Apparel/Pants, Tights, Leggings    60177
Women/Tops & Blouses/T-Shirts                     46380
Beauty/Makeup/Face                                34335
Beauty/Makeup/Lips                                29910
Electronics/Video Games & Consoles/Games          26557
                                                  ...
Handmade/Toys/Sports                                  1
Handmade/Furniture/Other                              1
Handmade/Accessories/Mirror                           1
Handmade/Quilts/Pillow                                1
Handmade/Ceramics and Pottery/Jewelry                 1
Name: category_name, Length: 1287, dtype: int64

In [12]:
train_df["shipping"].value_counts()

0    819435
1    663100
Name: shipping, dtype: int64

In [13]:
train_df["name"].value_counts()

Bundle                               2232
Reserved                              453
Converse                              445
BUNDLE                                418
Dress                                 410
                                     ...
Gray T-shirt Dress                      1
Toddler superman costume new            1
Lularoe TC Snorkeling Leggings          1
American eagle slim stretch jeans       1
Women's raiders hoodie free ship        1
Name: name, Length: 1225273, dtype: int64

In [14]:
train_df.isnull().sum()

train_id                  0
name                      0
item_condition_id         0
category_name          6327
brand_name           632682
price                     0
shipping                  0
item_description          4
dtype: int64

In [15]:
test_df.isnull().sum()

test_id                    0
name                       0
item_condition_id          0
category_name          14833
brand_name           1476490
shipping                   0
item_description           6
dtype: int64

In [16]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
plt.style.use("ggplot")

In [38]:
all_df = pd.concat([train_df,test_df],sort=False).reset_index(drop=True)

In [49]:
all_df

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description,test_id
0,0.0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,0,10.0,1,No description yet,NaN
1,1.0,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,1,52.0,0,This keyboard is in great condition and works ...,NaN
2,2.0,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,1,10.0,1,Adorable top with a hint of lace and a key hol...,NaN
3,3.0,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,0,35.0,1,New with tags. Leather horses. Retail for [rm]...,NaN
4,4.0,24K GOLD plated rose,1,Women/Jewelry/Necklaces,0,44.0,0,Complete with certificate of authenticity,NaN
...,...,...,...,...,...,...,...,...,...
4943255,NaN,DARK SAMPLE BYE FOUNDATION MOISTURIZER,1,Beauty/Fragrance/Women,0,NaN,1,It cosmetics Bye Bye Foundation Full Coverage ...,3460720.0
4943256,NaN,bundle for @brandystash,2,Women/Pants/Other,0,NaN,1,♡2 pairs of omighty trackiez. one m and one s....,3460721.0
4943257,NaN,Toddler High-top Converse,3,Kids/Girls 0-24 Mos/Shoes,1,NaN,0,Size 5 (toddler). Pink high top converse shoes...,3460722.0
4943258,NaN,Yoga Sling Sandals,1,Women/Shoes/Sandals,1,NaN,1,super super comfy. i have a pair but ordered t...,3460723.0
4943259,NaN,Stylish ladies M/M insulated brown coat,3,Women/Coats & Jackets/Other,0,NaN,1,100% Genuine leather and faux fur insulated co...,3460724.0

In [48]:
all_df.loc[~all_df["brand_name"].isnull(),"brand_name"] = 1
all_df.loc[all_df["brand_name"].isnull(),"brand_name"] = 0

In [46]:
brand_list1 = 1
brand_list0 = 0

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
categories = all_df.columns[all_df.dtypes == "object"]
print(categories)

Index(['name', 'category_name', 'brand_name', 'item_description'], dtype='object')

In [23]:
for cat in categories:
    le = LabelEncoder()
    print(cat)
    all_df[cat].fillna("missing",inplace=True)
    le = le.fit(all_df[cat])
    all_df[cat] = le.transform(all_df[cat])
    all_df[cat] = all_df[cat].astype("category")

name
category_name
brand_name
item_description

In [24]:
all_df

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description,test_id
0,0.0,1947660,3,864,6286,10.0,1,2597284,NaN
1,1.0,2748291,3,87,4660,52.0,0,3515053,NaN
2,2.0,280690,1,1320,5489,10.0,1,368759,NaN
3,3.0,1707130,1,536,6286,35.0,1,2518182,NaN
4,4.0,139775,1,1247,6286,44.0,0,1174303,NaN
...,...,...,...,...,...,...,...,...,...
4943255,NaN,944100,1,11,6286,NaN,1,1834853,3460720.0
4943256,NaN,3604650,2,1268,6286,NaN,1,4105029,3460721.0
4943257,NaN,3143603,3,679,4020,NaN,0,3080966,3460722.0
4943258,NaN,3566603,1,1279,4945,NaN,1,4060816,3460723.0
4943259,NaN,3028290,3,1217,6286,NaN,1,117972,3460724.0

In [25]:
all_df.describe()

,train_id,item_condition_id,price,shipping,test_id
count,1.482535e+06,4.943260e+06,1.482535e+06,4.943260e+06,3.460725e+06
mean,7.412670e+05,1.907122e+00,2.673752e+01,4.475771e-01,1.730362e+06
std,4.279711e+05,9.035150e-01,3.858607e+01,4.972443e-01,9.990254e+05
min,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.706335e+05,1.000000e+00,1.000000e+01,0.000000e+00,8.651810e+05
50%,7.412670e+05,2.000000e+00,1.700000e+01,0.000000e+00,1.730362e+06
75%,1.111900e+06,3.000000e+00,2.900000e+01,1.000000e+00,2.595543e+06
max,1.482534e+06,5.000000e+00,2.009000e+03,1.000000e+00,3.460724e+06

In [58]:
train_df_le = all_df[~all_df["price"].isnull()]
test_df_le = all_df[all_df["price"].isnull()]

In [27]:
import lightgbm as lgb

In [50]:
from optuna.integration import lightgbm as lgb

In [62]:
import optuna

In [28]:
from sklearn.model_selection import KFold
folds = 3
kf = KFold(n_splits=folds)

In [29]:
lgbm_params = {
    "objective":"regression",
    "random_seed":1234,
}

In [59]:
train_X = train_df_le.drop(["price","train_id"],axis=1)
train_Y = train_df_le["price"]

In [31]:
train_Y

0          10.0
1          52.0
2          10.0
3          35.0
4          44.0
           ...
1482530    20.0
1482531    14.0
1482532    12.0
1482533    45.0
1482534    22.0
Name: price, Length: 1482535, dtype: float64

In [54]:
from sklearn.model_selection import train_test_split

In [60]:
X_train,X_valid,y_train,y_valid = train_test_split(train_X,train_Y,test_size=0.2,random_state=1234,shuffle=False,stratify=None)

In [63]:
study = optuna.create_study(sampler=optuna.samplers.RandomSampler(seed=0))
study.optimize(objective, n_trials=50)
study.best_params

[I 2021-02-13 00:14:41,151] A new study created in memory with name: no-name-4f6b14b5-8736-41aa-b4e8-34fa633155ec

NameError: name 'objective' is not defined

In [32]:
def rmsle(y, y0):
     assert len(y) == len(y0)
     return np.sqrt(np.mean(np.power(np.log1p(y)-np.log1p(y0), 2)))

In [33]:
models = []
rmsles = []
oof = np.zeros(len(train_X))
for train_index,val_index in kf.split(train_X):
    X_train = train_X.iloc[train_index]
    X_valid = train_X.iloc[val_index]
    y_train = train_Y.iloc[train_index]
    y_valid = train_Y.iloc[val_index]
    lgb_train = lgb.Dataset(X_train,y_train)
    lgb_eval = lgb.Dataset(X_valid,y_valid,reference=lgb_train)
    model_lgb = lgb.train(lgbm_params,
                         lgb_train,
                         valid_sets=lgb_eval,
                         num_boost_round=1000,
                         early_stopping_rounds=20,
                         verbose_eval=100,
                         )
    y_pred = model_lgb.predict(X_valid, num_iteration=model_lgb.best_iteration)
    print(f'y_pred:{y_pred}')
    tmp_rmsle = rmsle(y_pred, y_valid)
    print(f'tmp_rmsle:{tmp_rmsle}')
    models.append(model_lgb)
    rmsles.append(tmp_rmsle)
    oof[val_index] = y_pred

[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.012265 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 5359
[LightGBM] [Info] Number of data points in the train set: 988356, number of used features: 6

C:\Users\okefu\Anaconda3\lib\site-packages\lightgbm\basic.py:1286: UserWarning: Overriding the parameters from Reference Dataset.
  warnings.warn('Overriding the parameters from Reference Dataset.')
C:\Users\okefu\Anaconda3\lib\site-packages\lightgbm\basic.py:1098: UserWarning: categorical_column in param dict is overridden.
  warnings.warn('{} in param dict is overridden.'.format(cat_alias))

[LightGBM] [Info] Start training from score 26.749067
Training until validation scores don't improve for 20 rounds
[100]	valid_0's l2: 954.856
[200]	valid_0's l2: 950.598
Early stopping, best iteration is:
[215]	valid_0's l2: 950.348
y_pred:[12.77436423 50.34643874  9.78261693 ... 14.06395181 22.81986105
 14.01391249]
tmp_rmsle:0.5929351370688315

C:\Users\okefu\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in log1p
  This is separate from the ipykernel package so we can avoid doing imports until

[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.009517 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 5363
[LightGBM] [Info] Number of data points in the train set: 988357, number of used features: 6
[LightGBM] [Info] Start training from score 26.716268
Training until validation scores don't improve for 20 rounds
[100]	valid_0's l2: 948.145
[200]	valid_0's l2: 942.922
Early stopping, best iteration is:
[216]	valid_0's l2: 942.431
y_pred:[13.40199114 18.5704214  25.20574038 ... 29.57881614 18.59312182
 13.38413525]
tmp_rmsle:0.5938623842677456
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.009209 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 5391
[LightGBM] [Info] Number of data points in the train set: 988357, number of used features: 6
[LightGBM] [Info] Start training from score 26.747213
Training until validation scores don't improve for 20 rounds
[100]	valid_0's l2: 941.291
[200]	valid_0's l2: 935.589
[300]	valid_0's l2: 933.994
[400]	valid_0's l2: 933.314
Early stopping, best iteration is:
[432]	valid_0's l2: 933.015
y_pred:[18.5531037  11.03064493 11.95167426 ... 19.99216357 15.40899067
 28.7515226 ]
tmp_rmsle:0.5904112198833225

In [34]:
sum(rmsles)/len(rmsles)

0.5924029137399666

In [35]:
test_X = test_df_le.drop(["price","train_id"],axis=1)

In [36]:
submission = pd.read_csv("sample_submission_stg2.csv")

In [37]:
submission

         test_id   price
0              0  26.738
1              1  26.738
2              2  26.738
3              3  26.738
4              4  26.738
...          ...     ...
3460720  3460720  26.738
3460721  3460721  26.738
3460722  3460722  26.738
3460723  3460723  26.738
3460724  3460724  26.738

[3460725 rows x 2 columns]

In [38]:
test_X

,name,item_condition_id,category_name,brand_name,shipping,item_description,test_id
1482535,689910,1,1248,6286,1,3092705,0.0
1482536,141130,1,934,6286,1,210921,1.0
1482537,872529,1,1036,1299,1,848610,2.0
1482538,1159206,2,1299,6286,0,74937,3.0
1482539,1724293,3,895,6286,1,2916757,4.0
...,...,...,...,...,...,...,...
4943255,944100,1,11,6286,1,1834853,3460720.0
4943256,3604650,2,1268,6286,1,4105029,3460721.0
4943257,3143603,3,679,4020,0,3080966,3460722.0
4943258,3566603,1,1279,4945,1,4060816,3460723.0
4943259,3028290,3,1217,6286,1,117972,3460724.0

In [39]:
preds = []
for model in models:
    pred = model.predict(test_X)
    preds.append(pred)
preds_array = np.array(preds)
preds_mean = np.mean(preds_array,axis=0)
submission["price"] = preds_mean

In [40]:
submission.to_csv(r"C:\Users\okefu\Desktop/submit/Mercari_submit01.csv",index=False)